extends ../layout

block content
  .container.mt-4
    .card
      .card-header Login
      .card-body
        form(action="/auth/login", method="POST")
          .mb-3
            label(for="username" class="form-label") Username
            input#username.form-control(type="text", name="username", required)
          .mb-3
            label(for="password" class="form-label") Password
            input#password.form-control(type="password", name="password", required)
          button.btn.btn-primary(type="submit") Login
