extends ../layout

block content
  .container.mt-4
    .card
      .card-header Suppliers
      .card-body
        table.table.table-hover
          thead
            tr
              th(scope="col") ID
              th(scope="col") Name
              th(scope="col") Actions
          tbody
            each supplier in suppliers
              tr
                td #{supplier.id}
                td #{supplier.name}
                td
                  a.btn.btn-primary.btn-sm(href=`/supplier/${supplier.id}/edit`) Edit
                  form.d-inline-block(action=`/supplier/${supplier.id}/delete`, method="POST")
                    button.btn.btn-danger.btn-sm(type="submit") Delete
